.container{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: fixed;
  z-index: 3;
  &__navBar{
    width: 100%;
    padding: 0px 1.8rem;
    transition: all 0.5s;
    &__active{
      width: fit-content; 
    }
    &__disable{
      width: fit-content;
    }
    &__sideMenu{
      width: 100vw;
      height: 100vh;
      display: flex;
      position: fixed;
      top: 0;
      left: -120%;
      justify-content: center;
      background-color: var(--bg-NavMobile);
      transition: all 0.3s;
    }
    &__sideMenuActive{
      width: 100vw;
      height: 100vh;
      display: flex;
      position: fixed;
      top: 0;
      left: 0%;
      justify-content: center;
      background-color: var(--bg-NavMobile);
      transition: all 0.3s;
      &__list{
        display: flex;
        flex-direction: column;
        &__burguer{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding:1.8rem 1.8rem  0rem 1.8rem ;
          transition: all 0.5s;
        }
        &__item{
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 1.5rem;
          height: 100%;
          width: 100vw;
        }
      }
    }
  }
}