.container{
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 35%;
    &__slider{
        appearance: none;
        //mexe na barra
        &[type=range] { 
            margin-right: 1rem;
            margin-top: 0.5rem;
            height: 0.5rem;
            background: var(--bg-pos);
            border-radius: 3rem;
            width: 100%;
            background-image: linear-gradient(var(--bg-pre), var(--bg-pre));
            background-repeat: no-repeat;
            
        }
        // chrome
        &[type=range]::-webkit-slider-thumb {
            display: flex;
            flex-direction: column;
            text-align: center;
            appearance: none;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background: var(--barVisited);
        }
        // mozila
        &[type=range]::-moz-range-thumb {
            display: flex;
            flex-direction: column;
            text-align: center;
            appearance: none;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background: var(--barVisited);
            background-size: 1.5rem;
        }
        // IE
        &[type=range]::-ms-thumb {
            display: flex;
            flex-direction: column;
            text-align: center;
            appearance: none;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background: var(--barVisited);
            background-size: 1.5rem;
        }
       
    }
    @media (max-width:73rem) {
        top: -7%; 
    }   
}