.projetos{ 
    scroll-margin-top: 5.313rem;
    margin: 1.9rem auto 0rem auto;
    width: 95%;
    height: 100%; 
    // overflow: hidden; 
    &__container{
        display: flex;
        align-items: center;
        &__top{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 1rem;
            margin-bottom: 1rem;
            &__text{
                text-align: center;
                &:nth-child(1){
                    color: var(--text-content-color);
                    font-size: clamp(3rem,1vw, 4rem); 
                }
                &:nth-child(2){
                    color: var(--bg-pre);
                    font-size: clamp(3rem,1vw, 4rem); 
                }
            }
        }
        &__bottom{
            display: flex;
            position: relative;
            left: -75%;
            border: 0.2rem solid var(--border-bottom);
            border-radius: 0.5rem;
            margin: 1rem 0rem;
            max-height: 250px;
            &__card{
                display: flex;
                width: 100%;
                overflow: hidden;
                &__content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    padding: 1rem;
                    &__title{
                        font-size: clamp(2rem,1vw, 4rem); 
                        color: var(--text-content-color);  
                    }
                    &__description{
                        font-size: clamp(1.2rem,1vw, 2.4rem); 
                        color: var(--text-content-color);  
                    }
                    &__tecs{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 1.25rem;
                        width: 100%;
                        font-size: clamp(1.5rem,1vw, 3rem); 
                        color: var(--text-content-color);
                    }
                    &__buttons{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        margin: 2rem;
                        width: 100%;
                        &__btn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            border: 0.1rem solid var(--texthighColorDark) ;
                            height: 2rem;
                            border-radius: 0.5rem;
                            font-size: clamp(1rem, 1vw, 2rem); 
                            text-decoration: none;
                            color: fff;  
                            background-color:var(--texthighColorDark);
                            padding: 1rem;
                        }
                    }
                }
             
                &__image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 0.1rem solid var(--border-bottom);
                    background-color: #FFFFFF;
                    width: 400px;
                }
                &__arrowclose{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0rem 1rem 1rem 0rem;
                    width: 150px;
                    &__teste1{
                        display: flex;
                        animation: floatArrow 3s ease-in-out infinite;
                        &:after{
                            position: relative;
                            top: -0.5rem;
                            background-color: transparent;
                            border: 0.2rem solid var(--arrowColor);
                            border-left: 0;
                            border-top: 0;
                            content: "";
                            display: block;
                            height: 2rem;
                            transform: translate(0,0.1rem) rotate(135deg) ;
                            width: 2rem;
                        }
                        &:before{
                            background-color: transparent;
                            border: 0.2rem solid var(--arrowColor);
                            border-left: 0;
                            border-top: 0;
                            content: "";
                            display: block;
                            height:2rem;
                            transform: translate(1rem) rotate(135deg) ;
                            width:2rem;
                            position: relative;
                            bottom: 0.4rem;
                        }
                    }
                }
                &__text{
                   display: inline-block;
                }
            }
        }
    }
}

@keyframes floatArrow {
    0% {   
        transform: translate(-4px, 0px) rotate(180deg) ;
    }
    50%  {  
        transform: translate(2px, 0px) rotate(180deg) ;
    }
    100%   { 
        transform: translate(-4px, 0px) rotate(180deg) ;
    }   
}
