.container{
  display: inline-block;
  cursor: pointer;
  &__change{
    &__bar1{
      transform: rotate(-45deg) translate(-0.3rem, 0.2rem);
    }
    &__bar2{
      opacity: 0;
    }
    &__bar3{
      transform: rotate(45deg) translate(-0.5rem, -0.5rem);
    }
  }
  .bar1, .bar2, .bar3 {
    width: 2.2rem;
    height: 0.25rem;
    background-color: hsl(195, 53%, 79%);
    margin: 0.3rem 0;
    transition: 0.4s;
  }
  &:visited{
    .bar1, .bar2, .bar3 {
      width: 2.2rem;
      height: 0.25rem;
      background-color: hsl(195, 53%, 59%);
      margin: 0.3rem 0;
      transition: 0.4s;
    }
   
  }
}




