.sectionHeader{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 5.313rem;
    margin: 1.9rem auto 0rem auto;
    width: 95%;
    border-bottom: 0.2rem solid var(--border-bottom);
    height: 100vh;
    color: var(--text-content-color);
    &__text{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.9rem;
        padding-bottom:0.6rem;
        height: 50%;

        &>*{
            line-height: 2.5rem;
        }
        &__title{
            line-height: 3.1rem;
            width: 100%;
            font-size: clamp(3.5rem,1vw, 6rem); 
            text-align: left;
            font-family: monospace;
            white-space: pre-line;
            margin-bottom: 1.9rem;
            &::after{
                content: "|";
                font-size: 3.75rem;
                line-height: 3.1rem;
                animation: blink 0.5s step-end infinite alternate;
            }
            @media (max-width:56.25rem){ //900px
                font-size: 1.875rem;
                &::after{
                    content: "|";
                    font-size: 1.9rem;
                    line-height: 3.1rem;
                    animation: blink 0.5s step-end infinite alternate;
                }
            }
        }
        &__prev{
            font-size: 1.9rem;
            @media (max-width:25rem) {//400px
                font-size: 1.3rem;
            }
        }
    }
    &__arrowContainer{
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__arrow{
            &:after{
                position: relative;
                top: -0.5rem;
                background-color: transparent;
                border: 0.2rem solid var(--arrowColor);
                border-left: 0;
                border-top: 0;
                content: "";
                display: block;
                height: 2rem;
                transform: translate(0,0) rotate(45deg) ;
                width: 2rem;
                animation: floatArrow 3s ease-in-out infinite;
                animation-delay: 0.2s;
            }
            &:before{

                background-color: transparent;
                border: 0.2rem solid var(--arrowColor);
                border-left: 0;
                border-top: 0;
                content: "";
                display: block;
                height:2rem;
                transform: translate(1rem) rotate(45deg) ;
                width:2rem;
                animation: floatArrow 3s ease-in-out infinite;
                animation-delay: 0.3s;
            }
        }
        &__textArrow{
            color:var(--texthighColor);
            position: relative;
            top: -0.3rem;
            font-size: 0.9rem;
            height: 2.2rem;
            transform: rotate(0deg);
            width: 2.2rem;
            animation: floatText 3s ease-in-out infinite;
        }
    }  
}


@keyframes blink {
    from, to { color: transparent }
    50% { color: var(--text-content-color) }
}

@keyframes floatArrow {
    0% {   
        transform: translate(0px, 0px) rotate(45deg) ;
    }
    50%  {  
        transform: translate(0px, 30px) rotate(45deg) ;
    }
    100%   { 
        transform: translate(0px, 0px) rotate(45deg) ;
    }   
}
@keyframes floatText {
    0% {   
        transform: translate(0px, 10px);
    }
    50%  {  
        transform: translate(0px, 2.5rem);
    }
    100%   { 
        transform: translate(0px, 10px);
    }   
}