.sectionHeader{ 
    scroll-margin-top: 85px;
    margin: 30px auto 0px auto;
    width: 95%;
    border-bottom: 3px solid hsl(195, 53%, 79%);
    height: 900px;
    &__text{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        padding-bottom:10px;
        height: 50%;
        border-bottom: 3px solid hsl(195, 53%, 79%);
        &>*{
            line-height: 40px;
        }
        &__title{
            line-height: 50px;
            width: 100%;
            font-size: 60px;
            text-align: left;
            font-family: monospace;
            white-space: pre-line;
            margin-bottom: 30px;
            &::after{
                content: "|";
                font-size: 60px;
                line-height: 50px;
                animation: blink 0.5s step-end infinite alternate;
            }
            @media (max-width:900px) {
                font-size: 30px;
                &::after{
                    content: "|";
                    font-size: 30px;
                    line-height: 50px;
                    animation: blink 0.5s step-end infinite alternate;
                }
            }
        }
        &__prev{
            font-size: 30px;
            @media (max-width:400px) {
                font-size: 20px;
            }
        }
    }
    &__aboutMe{
        height: 50%;
        // border-bottom: 3px solid hsl(195, 53%, 79%);
        padding-top: 30px;
        &__title{
            display: inline-block;
            font-size: 40px;
            padding-bottom: 5px;
            border-bottom: 2px solid hsl(195, 53%, 79%);
        }
        &__content{
            display: flex;
            align-items: center;

            &__p{
                width: 100%;
                font-size: 20px;
            }
            &__imageContainer{
                width: 100%;
                text-align: center;
               &__image{
                width: 300px;
                height: 300px;
               }
            }
            @media (max-width:900px){
                flex-direction: column-reverse; 
                &__p{
                    width: 100%;
                    font-size: 25px;
                    text-align: center;
                }
                &__imageContainer{
                    width: 100%;
                    text-align: center;
                   &__image{
                    width: 40%;
                    height: 40%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                   }
                }
            }
        }
        @media (max-width:900px){
            flex-direction: column-reverse;
            text-align: center;
        }
    }
    @media (max-width:900px){
        height: 100%;
    }
    
}

@keyframes typing {
    0% {
        width: 0;
    }
    1%, 99%{
        border-right: 3px solid black;
    }
    100%{
        border-right: none;
    }
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: rgba(0, 0, 0) }
}