.habilidades{
    scroll-margin-top: 5.313rem;
    margin: 1.9rem auto 0rem auto;
    width: 95%;
    border-bottom: 0.2rem solid var(--border-bottom);
    color: var(--text-content-color);
    display: flex;
    justify-content: center;
    &__container{
        display: flex;
        align-items: center;
        width: 80%;
        padding-bottom: 1.9rem;
        &__left{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__text{
                &:nth-child(1){
                    color: var(--text-content-color);
                    font-size: clamp(2.0rem,1vw, 3rem); 
                }
                &:nth-child(2){
                    color: var(--bg-pre);
                    font-size: clamp(2.5rem,1vw, 5rem); 
                }
            }
        }
        &__rigth{
            display: flex;
            flex-direction: column;
            width: 100%;
            &__bar{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 90%;
                margin: 0.5rem;
                &__stacks{
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    &__stack{
                        color: var(--texthighColorDarker);
                        font-size: clamp(1rem,1vw, 1.5rem); 
                    }
                }
            }
           
        }
    }
    @media (max-width:56.25rem){ 
        width: 100%;
        &__container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 1.9rem;
            &__left{
                width: 50%;
                padding-bottom: 1.9rem;
            }
        }
    }
}