.footerSection{
    background-color: var(--bgfooter);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6.3rem;
    &__texts{
        font-size: clamp(1rem, 100%, 3rem);  
        // font-size: 
        text-align: center;
        color: var(--var-text-footer);
    }
}