.sectionProjeto{
    scroll-margin-top: 5.313rem;
    margin: 1.9rem auto 0rem auto;
    width: 95%;
    color: var(--text-content-color);
    // border-bottom: 0.2rem solid var(--border-bottom);
    &__containerTitle{
        display: flex;
        justify-content: left;
        width: 100%;
        &__title{
            display: inline-block;
            font-size: clamp(2.5rem,1vw, 3rem); 
            padding-bottom: 0.3rem;
            border-bottom: 0.2rem solid var(--border-bottom);
        }
        
         @media (max-width:56.25rem){ //900px
            display: flex;
            justify-content: center;
            width: 100%;
            &__title{
                display: inline-block;
                font-size: 2.5rem;
                padding-bottom: 0.3rem;
                border-bottom: 0.2rem solid var(--border-bottom);
            }
        }
    }
  
    &__cardWrapper{
        display: flex;
        flex-direction: column;
        border: 0.2rem solid var(--border-bottom);
        max-width: 19rem;
        margin: 3.1rem auto;
        border-radius: 1.5rem;
        overflow: hidden;
        max-height: 31rem;
         @media (max-width:56.25rem){ //900px
            display: flex;
            flex-direction: column;
            border: 0.2rem solid var(--border-bottom);
            max-width: 19rem;
            border-radius: 1.5rem;
            overflow: hidden;
            margin: 3.1rem auto;
            max-width: 14rem;
            max-height: 31rem;
        }
        &__imagePrev{
            border: 0.6rem solid var(--border-bottom);
           
             @media (max-width:56.25rem){ //900px
                min-height: 12.5rem
            }
        }
        &__projectTitle{
            display: flex;
            justify-content: center;
            padding: 1.25rem;
            text-transform: uppercase;
        }
        &__tecs{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 1.25rem;
            max-width: 18rem;
        }
        &__tec{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 1.25rem;
            max-width: 19rem;
            color: var(--texthighColor);
        }
        &__description{
            max-height: 15.5rem;
            
            padding: 1.25rem;
        }
        &__container{
            display: flex;
            justify-content: center;
            padding: 1.25rem;
            gap: 1rem;
            &__anchor{
                &__button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.1rem solid var(--texthighColorDark) ;
                    height: 1.9rem;
                    border-radius: 0.5rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    color: var(--texthighColorDark);
                    cursor: pointer;
                    padding: 0.2rem;
                    &:hover{
                        color: var(--texthighColorDarker);
                        border: 0.2rem solid var(--texthighColorDarker) ;
                    }
                }
               
            }
            @media (max-width:56.25rem){ //900px
                display: flex;
                flex-direction: column;
                width: 100%;
                &__anchor{
                    width: 80%;
                }
            }
        }
    }
    &__cardWrapperConstruction{
        display: flex;
        flex-direction: column;
        
        border: 0.2rem dashed var(--underConstructionColor);
        max-width: 19rem;
        margin: 3.1rem auto;
        border-radius: 1.5rem;
        overflow: hidden;
        max-height: 31rem;
        @media (max-width:56.25rem){ //900px
            display: flex;
            flex-direction: column;
            border: 0.2rem dashed var(--underConstructionColor);
            max-width: 19rem;
            border-radius: 1.5rem;
            overflow: hidden;
            margin: 3.1rem auto;
            max-width: 14rem;
            max-height: 31rem;
        }
        &__imagePrev{
            border: 0.6rem dashed red;
            // width: fit-content;
            //  @media (max-width:56.25rem){ //900px
            //     min-height: 15rem;
            // }
        }
        &__projectTitle{
            display: flex;
            justify-content: center;
            padding: 1.25rem;
            text-transform: uppercase;
        }
        &__tecs{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 1.25rem;
            max-width: 18rem;
        }
        &__tec{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 1.25rem;
            max-width: 18rem;
            color: var(--underConstructionColor);
            &:hover{
                color: hvar(--underConstructionColor);
                border: 1px solid hvar(--underConstructionColor);
            }
        }
        &__description{
            max-height: 23rem;
            
            padding: 1.25rem;
        }
        &__container{
            display: flex;
            padding: 1.25rem;
            gap: 1rem;
            &__anchor{
                width: 50%;
                &__button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.1rem solid var(--underConstructionColor) ;
                    height: 1.9rem;
                    border-radius: 0.5rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    color: var(--underConstructionColor);
                    cursor: pointer;
                    &:hover{
                        color: var(--underConstructionColorHover);
                        border:0.2rem solid var(--underConstructionColorHover);
                    }
                }
               
            }
            @media (max-width:56.25rem){ //900px
                display: flex;
                flex-direction: column;
                width: 100%;
                &__anchor{
                    width: 80%;
                }
            }
        }
        
    }
}

@keyframes border-dance {
    0% {
      background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }
    100% {
      background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
  }