.switch{
    display:flex;
    position: relative;
    top: 1%;
    color: var(--themeIcon-color);
    &__input{
        &[type=checkbox]{
            // escode a box original
            height: 0;
            width: 0;
            visibility: hidden; 
            &:checked + label {
                &:after{
                    left: calc(100% - 4px);
                    transform: translateX(-100%);
                }
            }
        }
        &:checked + label{
            background-color: var(--themebg-checked);
        }
        
    }
    &__label{
        cursor: pointer;
        width: 50px;
        height: 25px;
        background:  var(--themebg); //fundo slider
        border-radius: 24px;
        position: relative;
        transition: 0.3s;

        &:after{
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;
            background: var(--themethumb); //thumb
            border-radius: 16px;
            transition: 0.3s;
            
        }
        &:hover{
            background-color:var(--theme-hover);
        }
    }
    &__span{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
}

