html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-white);
	transition: background-color 0.2s;
}

body[data-theme="light"] {
	--bg-white: hsl(207, 85%, 98%);
	--bg-linear: hsl(195, 100%, 65%);

	--bg-pre: hsl(195, 100%, 65%);
	--bg-pos: hsl(195, 100%, 90%);

	--border-bottom: hsl(195, 100%, 65%);
	--navBar-color-itens: hsl(195, 100%, 65%);
	--bgfooter: hsl(195, 100%, 65%);
	--arrowColor: hsl(195, 100%, 65%);
	--texthighColor: hsl(195, 100%, 65%);
	--barVisited: hsl(195, 100%, 65%);
	--texthighColorDark: hsl(195, 100%, 65%);
	--texthighColorDarker: hsl(195, 100%, 35%);
	--underConstructionColor: hsl(42, 95%, 50%);
	--underConstructionColorHover: hsl(42, 95%, 40%);
	--bg-NavMobile: hsl(210, 6%, 14%);
	--text-content-color: hsl(0, 0%, 0%);
	--text-content-color-hl: hsl(200, 100%, 50%);

	--themebg: hsl(195, 100%, 65%);
	--themethumb: hsl(207, 85%, 98%);
	--themeIcon-color: hsl(207, 85%, 98%);
	--theme-hover: hsl(195, 100%, 35%);
	--themebg-checked: hsl(210, 6%, 14%);

	--swiper-color: hsl(195, 100%, 65%);
}

body[data-theme="dark"] {
	--bg-white: hsl(206, 100%, 12%);
	--bg-linear: #a9d6e5;

	--bg-pre: #a9d6e5;
	--bg-pos: hsl(195, 100%, 90%);

	--border-bottom: #a9d6e5;
	--navBar-color-itens: #a9d6e5;
	--bgfooter: #a9d6e5;
	--var-text-footer: #012a4a;
	--arrowColor: #a9d6e5;
	--texthighColor: #a9d6e5;
	--barVisited: #468faf;
	--texthighColorDark: #a9d6e5;
	--texthighColorDarker: #a9d6e5;
	--underConstructionColor: hsl(42, 95%, 50%);
	--underConstructionColorHover: hsl(42, 95%, 40%);
	--bg-NavMobile: #012a4a;
	--text-content-color: #a9d6e5;

	--themebg: #2a6f97;
	--themethumb: #012a4a;
	--theme-hover: #a9d6e5;
	--themebg-checked: #a9d6e5;
	--themeIcon-color: #012a4a;

	--swiper-color: #468faf;
}


/* troca de cores do slider */
.swiper .swiper-button-prev {
	color: var(--swiper-color);
}

.swiper .swiper-button-next {
	color: var(--swiper-color);
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
	background: var(--swiper-color);
}