.sectionAboutMe{ 
    scroll-margin-top: 5.313rem;
    margin: 1.9rem auto 0rem auto;
    width: 95%;
    border-bottom: 0.2rem solid hsl(195, 53%, 79%);
    &__aboutMe{
        &__title{
            display: inline-block;
            // font-size: 40px;
            font-size: clamp(2.5rem, 0.5vw, 3rem); 
            padding-bottom: 0.3rem;
            border-bottom: 0.125rem solid hsl(195, 53%, 79%);
        }
        &__content{
            display: flex;
            align-items: center;
            &__text{
                width: 50%;
                &__p{
                    width: 100%;
                    // font-size:20px;
                    font-size: clamp(1.5rem, 50%, 3rem);  
                    line-height: 2rem;
                    margin: 1.9rem 0rem;
                    @media (max-width:56.25rem){ //900px
                        // font-size: 22px;
                        font-size: clamp(1.3rem, 50%, 2.7rem);  
                     }
                }
                @media (max-width:56.25rem){ //900px
                   width: 95%; 
                }
            }
            &__imageContainer{
                width: 19rem;
                text-align: center;
               &__image{
                width: 19rem;
                height: 19rem;
               }
            }
           @media (max-width:56.25rem){ //900px
                flex-direction: column-reverse; 
                &__imageContainer{
                    padding-top: 30px;
                }
            }
        }
       @media (max-width:56.25rem){ //900px
            flex-direction: column-reverse;
            text-align: center;
        }
    }
    
}
.highlights{
    color: hsl(195, 53%, 50%);
}

@keyframes typing {
    0% {
        width: 0;
    }
    1%, 99%{
        border-right: 0.2rem solid black;
    }
    100%{
        border-right: none;
    }
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: rgba(0, 0, 0) }
}