.sectionAboutMe{ 
    scroll-margin-top: 5.313rem;
    margin: 1.9rem auto 0rem auto;
    width: 95%;
    border-bottom: 0.2rem solid var(--border-bottom);
    padding: 30px 0px;
    color: var(--text-content-color);
    &__aboutMe{
        &__title{
            display: inline-block;
            // font-size: 40px;
            font-size: clamp(2.5rem,1vw, 3rem); 
            padding-bottom: 0.3rem;
            border-bottom: 0.125rem solid var(--border-bottom);
        }
        &__content{
            display: flex;
            align-items: center;
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                &__p{
                    font-size: clamp(1.2rem, 1vw, 2rem); 
                    line-height: 2rem;
                    margin: 1rem 0rem;
                    @media (max-width:56.25rem){ //900px
                        // font-size: 22px;
                        font-size: clamp(1.2rem, 50%, 2.7rem);  
                     }
                }
                @media (max-width:56.25rem){ //900px
                   width: 95%; 
                }
            }
            &__imageContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
               &__image{
                width: 19rem;
                height: 19rem;
               }
            }
           @media (max-width:56.25rem){ //900px
                flex-direction: column-reverse; 
                &__imageContainer{
                    padding-top: 30px;
                }
            }
        }
        @media (max-width:56.25rem){ //900px
            flex-direction: column-reverse;
            text-align: center;
        }
    }
    
}

@keyframes typing {
    0% {
        width: 0;
    }
    1%, 99%{
        border-right: 0.2rem solid var(--text-content-color);
    }
    100%{
        border-right: none;
    }
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: var(--text-content-color)}
}